/**
 * css for wishlist block
 */
.more_link_uc_wl_block {
  float: right;
}
#uc_wishlist_block {
  border-bottom: 1px solid #d3e7f4;
  padding-top: 4px;
}
#uc_wishlist_block h6 {
  display: inline-table;
  font-size: 110%;
  margin-left: 7px;
  vertical-align: top;
}
